<nav class="navbar text-white bg-black pt-3 ">
  <div class="container">

    <a class="navbar-brand" href="/">
      <img src="images/logo.svg" alt="logo-img" style="width: 2rem; height: 2rem;">
      <span class="text-white ps-2">FilterPixel</span>
    </a>
   <a href="/regist"> <button class="bg-white rounded-2  pb-1 ps-2 pe-2 border-0">Sign Up</button></a>
  </div>
</nav>